@charset "UTF-8";
@font-face {
    font-family: 'bold';
    src: url('../font/pre/Pretendard-Bold.eot');
    src: url('../font/pre/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/pre/Pretendard-Bold.woff2') format('woff2'),
        url('../font/pre/Pretendard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'semibold';
    src: url('../font/pre/Pretendard-SemiBold.eot');
    src: url('../font/pre/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/pre/Pretendard-SemiBold.woff2') format('woff2'),
        url('../font/pre/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'medium';
    src: url('../font/pre/Pretendard-Medium.eot');
    src: url('../font/pre/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/pre/Pretendard-Medium.woff2') format('woff2'),
        url('../font/pre/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'regular';
    src: url('../font/pre/Pretendard-Regular.eot');
    src: url('../font/pre/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/pre/Pretendard-Regular.woff2') format('woff2'),
        url('../font/pre/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
body {
    height: 100%;
    line-height: 1;
    color: #333;
    font-family: 'Pretendard-Regular';
    /* height: 4000px; */
}
body.on {
    overflow: hidden; /* 스크롤 막기 */
}
.mobile {
    display: none;
}
.mobile_nav.on {
    display: block;
}
.mobile_nav {
    width: 30%;
    height: 100vh;
    background-color: #fff;
    position: fixed;  /* 수정완료 */
    right: 0;
    top: 0;
    z-index: 999;
}
.bgg span {
    position: absolute;
    left: -99999999999px;
}
.bgg.on {
    display: block;
}
.bgg {
    width: 100%;
    height: 100vh;   /* 수정완료 */
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.mobile_nav .close {
    position: absolute;
    top: 4%;
    right: 50px;
}
.mobile_nav .close img {
    width: 30px;
}
.mobile_nav .gnb {
    margin-top: 30%;
}
.mobile_nav .gnb > li {
    padding: 20px 40px;
}
.mobile_nav .gnb li > .depth01 {
    font-family: 'semibold';
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
}
.mobile_nav .gnb li > .depth02 {
    display: none;
}
.mobile_nav .gnb li > .depth02 li {
    font-family: 'medium';
    display: block;
    padding: 10px 0;
}
.mobile_nav .gnb li > .depth02 li:hover {
    text-decoration: underline;
    font-weight: bold;
}
.jquery_btn {
    width: 55px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    bottom: 50px;
    right: 60px;
    z-index: 9;
    
    display: none;
    /* padding: 2px; */
    /* box-shadow: 0 2cm 5px; */
}
.jquery_btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header {
    width: 100%;
    height: 120px;
    position: relative;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5px);

    transition: 0.5s;
}
.header.on {
    opacity: 0;
    transform: translateY(-100%);
}
.header .inner {
    max-width: 1280px;
    width: calc(100% - 30px);
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner .logo img {
    width: 160px;
    height: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .inner .pc_nav {
    height: 100%;
}
.header .inner .pc_nav .gnb {
    display: flex;
    column-gap: 50px;
}
.header .inner .pc_nav .gnb > li {
    position: relative;
}
.header .inner .pc_nav .gnb .depth01 {
    font-family: 'semibold';
    display: flex;
    justify-content: center;
    line-height: 120px;
    font-size: 18px;
    padding: 0 10px;
    transition: 0.3s;
}
.header .inner .pc_nav .gnb > li.on .depth01{
    color: #F5B01E;
}
.header .inner .pc_nav .gnb .depth02 {
    /* box-shadow: px 2px 5px; */
    background-color: rgba(255, 255, 255, 0.9);

    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s;
    transform: scale(0);
}
.header .inner .pc_nav .gnb .depth02.on {
    opacity: 1;
    transform: scale(1);
}
.header .inner .pc_nav .gnb .depth02 li {
    font-family: 'medium';
    width: 150px;
    padding: 15px 0px;
    margin: 0px 20px;
    transition: 0.2s;
}
.header .inner .pc_nav .gnb .depth02 li:first-child {
    border: none;
}
.header .inner .pc_nav .gnb .depth02 li:hover {
    /* background-color: rgba(214, 214, 214, 0.3); */
    /* border-radius: 5px; */
    text-decoration: underline;
    font-weight: bold;
}
.header .inner .util .lang {
    display: flex;
    column-gap: 30px;
    position: relative;
}
.header .inner .util .lang > li.on ul {
    opacity: 1;
}
.header .inner .util .lang img {
    width: 20px;
}
.header .inner .util .lang .menu {
    cursor: pointer;
    background: transparent;
    border: 0;
    position: relative;
    z-index: 1000;
}
.header .inner .util .lang > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header .inner .util .lang > li a {
    font-family: 'medium';
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.header .inner .util .lang > li ul {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 15px;
    box-shadow: 0px 2px 3px;
    padding: 0px 10px;
    border-radius: 10px;
    opacity: 0;

}
.header .inner .util .lang > li ul li:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.header .inner .util .lang > li ul li {
    font-family: 'medium';
    margin: 10px 0;
}
.header .inner .util .lang .menu img {
    width: 35px;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    display: none;
}
.Swiper01 .swiper-pagination {
    background-color: transparent;
    padding: 15px;
  }
  .Swiper01 .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .Swiper01 .swiper-pagination-bullet-active {
    opacity: 1;
    border: 2px solid #F5B01E;
    background: url('../img/circle (1).png') center center no-repeat;
    background-size: 8px;
  }
  .autoplay-progress {
    width: 145px !important;
    height: 60px !important;
    color: #F5B01E !important;
    transform:rotate(90deg);
    top: 15%;
    left: 7%;
  }
  .autoplay-progress span {
    display: none;
  }
.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
    stroke: #F5B01E;
  }
  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }




.Swiper01 {
    margin-top: 120px;
    width: 100%;
    height: 87vh;
    position: fixed;
    top: 0;
    left: 0;
    position: relative;
}
.Swiper01 .swiper-slide .text{
    cursor: default;
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-30%, -20%);
    color: #fff;
}
.Swiper01 .swiper-slide .text h4 {
    font-family: 'bold';
    font-size: 5rem;
}
.Swiper01 .swiper-slide .text p {
    font-family: 'semibold';
    font-size: 1.4rem;
    margin-top: 40px;
}

.section01 {
    /* background: url('../img/mvisual.jpg') center center/ cover no-repeat fixed; */
    background-color: #000;
    position: relative;
}
.section01 .bg div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    opacity: 0;
}
.section01 .bg div.on {
    opacity: 1;
}
.section01 .bg .bg01 {
    background: url('../img/mvisual.jpg') center center / cover no-repeat fixed;
}
.section01 .bg .bg02 {
    background: url('../img/석유.jpg') center center / cover no-repeat fixed;
}
.section01 .bg .bg03 {
    background: url('../img/environmental-pollution-industry-exterior-daylight.jpg') center center / cover no-repeat fixed;
}
.section01 .bg .bg04 {
    background: url('../img/전기2.jpg') center center / cover no-repeat fixed;
}

.section01 .inner {
    max-width: 1440px;
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.section01 .inner .title {
    cursor: default;
    width: 30%;
    height: 100%;
    margin-top: 150px;
    color: #fff;

    position: sticky;
    top: 40%;
    left: 0;
    transform: translateY(-40%);

    display: flex;
    flex-direction: column;

}
.section01 .inner .title p {
    font-family: 'medium';
    font-size: 22px;
    margin-bottom: 25px;
}
.section01 .inner .title h2 {
    font-family: 'bold';
    font-size: 3.2rem;
}
.section01 .inner .list {
    width: 56%;
    height: 100%;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.section01 .inner .list .item {
    cursor: default;
    width: 47%;
    height: 450px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    padding: 40px;
    transition: 0.5s;
    opacity: 0.2;
}
.section01 .inner .list .item.on {
    opacity: 1;
}
.section01 .inner .list .item.on .text {
    color: #F5B01E
}
.section01 .inner .list .item.on img {
    opacity: 1;
}
.section01 .inner .list .item:hover {
    opacity: 1;
}
.section01 .inner .list .item .text {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    transition: 0.5s;
}
.section01 .inner .list .item:hover .text {
    color: #F5B01E
}
.section01 .inner .list .item:hover img {
    opacity: 1;
}
.section01 .inner .list .item img {
    width: 85px;
    object-fit: cover;
    opacity: 0;
    transition: 0.2s;
    margin-bottom: 20px;
}
.section01 .inner .list .item:nth-child(2),
.section01 .inner .list .item:nth-child(4) {
    margin-top: 400px;
}
.section01 .inner .list .item a {
    display: flex;
    flex-direction: column;
}
.section01 .inner .list .item strong {
    font-family: 'semibold';
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: 25px;
}
.section01 .inner .list .item span {
    font-family: 'medium';
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.section01 .inner .list .item p {
    font-family: 'medium';
    line-height: 1.5;
    word-break: keep-all;
}
.section02.scroll_on {
    opacity: 1;
    transform: translateY(0);
}
.section02 {
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s;
}
.section02 .inner {
    max-width: 1440px;
    width: calc(100% - 30px);
    margin: 120px auto;
    background-color: #fff;
}
.section02 .inner .title {
    cursor: default;
    margin-bottom: 45px;
}
.section02 .inner .title p {
    font-family: 'medium';
    font-size: 22px;
}
.section02 .inner .title h2 {
    font-family: 'bold';
    font-size: 3.2rem;
    margin-top: 20px;
}
.section02 .inner .item_wrap {
    display: flex;
    justify-content: space-between;
    column-gap: 28px;
}
.section02 .inner .item_wrap .item {
    width: 32%;
    border-radius: 25px;
    overflow: hidden;
    position: relative;

    opacity: 0;
    transform: translateY(100%);
}
.section02 .inner .item_wrap .item.scroll_on {
    opacity: 1;
    transform: translateY(0);
}
.section02 .inner .item_wrap .item.on0 {
    transition: 0.5s 0.6s;
}
.section02 .inner .item_wrap .item.on1 {
    transition: 0.5s 0.8s;
}
.section02 .inner .item_wrap .item.on2 {
    transition: 0.5s 1s;
}

.section02 .inner .item_wrap .item figure {
    width: 100%;
}
.section02 .inner .item_wrap .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.section02 .inner .item_wrap .item:hover figure img {
    transform: scale(1.05);
}
.section02 .inner .item_wrap .item p {
    cursor: default;
    font-family: 'semibold';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    color: #fff;
    font-weight: bold;
}
.section02 .inner .item_wrap .item:hover p {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(360deg,rgba(51,51,51,0),rgba(0, 0, 0, 0.7) 50%, rgba(51,51,51,0) 100%);
    transition: 0.5s;
}
.section03.scroll_on {
    opacity: 1;
    transform: translateY(0);
}
.section03 {
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s 0.2s;
}
.section03 .inner{
    max-width: 1440px;
    width: calc(100% - 30px);
    /* height: 100vh; */
    margin: 120px auto;
}
.section03 .inner .title,
.section04 .inner .title
 {
    margin-bottom: 45px;
}
.section03 .inner .title p,
.section04 .inner .title p {
    font-family: 'medium';
    font-size: 22px;
}
.section03 .inner .title h2,
.section04 .inner .title h2 {
    font-family: 'bold';
    font-size: 3.2rem;
    margin-top: 20px;
}
.section03 .inner .item_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section03 .inner .item_wrap figure {
    width: 65%;
    border-radius: 20px;
    overflow: hidden;
}
/* .section03 .inner .item_wrap figure:hover img {
    transform: scale(1.1);
} */
.section03 .inner .item_wrap figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.section03 .inner .item_wrap .item {
    width: 33%;
    background-color: #F5F5F7;
    border-radius: 20px;
    display: flex;
    row-gap: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.section03 .inner .item_wrap .item figure {
    width: 180px;
    /* height: 200px; */
}
.section03 .inner .item_wrap .item figure img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}
.section03 .inner .item_wrap .item .text {
    cursor: default;
}
.section03 .inner .item_wrap .item .text strong{
    font-family: 'semibold';
    font-size: 35px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 20px;
}
.section03 .inner .item_wrap .item .text p {
    font-family: 'medium';
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 60px;
    word-break: keep-all;
}
.section03 .inner .item_wrap .item .text button {
    font-family: 'medium';
    display: inline-block;
    border: 2px solid  #F5B01E;
    background-color: transparent;
    border-radius: 40px;
    padding: 14px 28px;
    cursor: pointer;
    
    color:  #F5B01E;
    font-size: 16px;
    font-weight: normal;
    transition: 0.4s;
}
.section03 .inner .item_wrap .item .text button:hover {
    background-color: #F5B01E;
    transform: scale(0.95);
    color: #fff;
}

.section04 {
    width: 100%;
}
.swiper-wrapper {
    align-items: flex-end;
}
.section04 .inner {
    max-width: 1440px;
    width: calc(100% - 30px);
    margin: 120px auto;
}
.section04 .media .swiper-slide .item {
    word-break: keep-all;
    width: 60%;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section04 .media .swiper-slide .item a {
    font-family: 'medium';
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    color: #999;
    margin-bottom: 50px;
}
.section04 .media .swiper-slide .item a img {
    width: 7px;
}
.section04 .media .swiper-slide .item strong {
    cursor: default;
    font-family: 'semibold';
    font-weight: normal;
    height: 50px;
    line-height: 1.3;
    font-size: 17px;
    margin-bottom: 20px;
}
.section04 .media .swiper-slide .item p {
    cursor: default;
    font-family: 'regular';
    font-size: 14px;
    color: #999;
    margin-bottom: 30px;
}
.section04 .media .swiper-slide .item > img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 15px;
}
.footer {
    width: 100%;
    height: 100%;
    background-color: #0F569C;
}
.footer .inner {
    max-width: 1440px;
    width: calc(100% - 30px);
    margin: 120px auto;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.footer .inner .left {
    margin: 45px 0;
}
.footer .inner .left figure {
    width: 40%;
    margin-bottom: 20px;
}
.footer .inner .left strong {
    font-family: 'semibold';
    font-weight: normal;
    font-size: 30px;
    display: inline-block;
    margin-bottom: 20px;
    cursor: default;
}
.footer .inner .left .first{
    font-family: 'medium';
    margin-bottom: 15px;
    cursor: pointer;
}
.footer .inner .left p {
    font-family: 'regular';
}
.footer .inner .left .first span::after {
    content: '｜';
    top: 0;
    left: 0;
}
.footer .inner .left .first span:last-child::after {
    display: none;
}
.footer .inner .right {
    width: 65%;
    margin: 45px 0;
    text-align: end;
}
.footer .inner .right ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 20px;
    justify-content: flex-end;
}
.footer .inner .right ul li {
    display: flex;
    flex-direction: column;
}
.footer .inner .right ul li div {
    font-family: 'medium';
    font-size: 16px;
    margin-bottom: 10px;
    cursor: default;
}
.footer .inner .right ul li a {
    font-family: 'regular';
    margin-bottom: 12px;
    color: #b8b8b8;
    font-size: 15px;
}

@media screen and (max-width: 1265px) {
    .section01 .inner .list .item:nth-child(2),
    .section01 .inner .list .item:nth-child(4) {
        margin-top: 80%;
    }
    .section01 .inner .list .item {
        width: 45%;
        height: 25%;
    }
    .header .inner .pc_nav .gnb {
        column-gap: 35px;
    }
}
@media screen and (max-width: 1195px) {
    .section04 .media .swiper-slide .item strong {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        line-height: 1.44;
    }
    .section01 .inner .list {
        width: 75%;
    }
    .Swiper01 .swiper-slide .text {
        left: 30%;
    }
    .Swiper01 .swiper-slide .text h4 {
        font-size: 4.5rem;
    }
    .section01 .inner .list .item:nth-child(2),
    .section01 .inner .list .item:nth-child(4) {
        margin-top: 55%;
    }
}
@media screen and (max-width: 1024px) {
    .section04 .media .swiper-slide .item {
        width: 80%;
    }
    .header .inner, .section01 .inner, .section02 .inner, .section03 .inner,.footer .inner {
        width: calc(100% - 60px);
    }
    .section02 .inner, .section03 .inner {
        margin: 90px auto;        
    }
    .footer .inner {
        margin-top: 90px;
    }
    .header .inner .pc_nav .gnb {
        column-gap: 18px;
    }
    .header .inner .pc_nav .gnb .depth01 {
        font-size: 16px;
    }
    .header .inner .util .lang {
        column-gap: 20px;
    }
    .header .inner .logo img {
        width: 135px;
    }
    .header .inner .util .lang .menu img {
        width: 30px;
    }
    .Swiper01 .swiper-slide .text h4 {
        font-size: 4rem;
    }
}
@media screen and (max-width: 960px) {
    .pc_nav {
        display: none;
    }
    .header {
        height: 90px;
    }
    .header .inner {
        padding: 0;
    }
    .Swiper01 {
        margin-top: 0;
    }
    .Swiper01 .swiper-slide .text h4 {
        font-size: 3rem;
    }
    .Swiper01 .swiper-slide .text p {
        font-size: 1.2rem;
        margin-top: 30px;
    }
    .Swiper01 .swiper-slide .text {
        top: 40%;
    }
    .header .inner .util .lang {
        column-gap: 30px;
    }
    .section01 .inner .title h2, .section02 .inner .title h2, .section03 .inner .title h2,
    .section04 .inner .title h2 {
        font-size: 2.5rem;
    }
    .section01 .inner .title p, .section02 .inner .title p, .section03 .inner .title p,
    .section04 .inner .title p{
        font-size: 18px;
    }
    .section01 .inner .title p {
        margin-bottom: 20px;
    }
    .section03 .inner .item_wrap .item .text strong {
        font-size: 30px;

    }
    .section03 .inner .item_wrap .item .text p {
        font-size: 16px;
    }
    .footer .inner .right {
        display: none;
    }
    .footer .inner .left {
        width: 100%;
    }
    .footer .inner .left figure {
        width: 190px;
    }
    .section03 .inner .item_wrap .item .text p {
        margin-bottom: 45px;
    }
    .section03 .inner .item_wrap .item figure {
        width: 100px;
    }
    .mobile_nav {
        width: 60%;
    }
    .mobile_nav .gnb {
        width: 70%;
        margin-top: 30px;
    }
    .mobile_nav .gnb > li {
        padding: 10px 35px;
    }
}
@media screen and (max-width: 800px) {
    .section01 .inner {
        flex-direction: column;
        padding: 0;
    }
    .section01 .inner .title {
        width: 100%;
        position:static;
    }
    .section01 .inner .list {
        width: 100%;
        margin-top: 80px;
    }
    .section01 .inner .list .item {
        width: 100%;
        backdrop-filter: blur(5px);
    }
    .section01 .inner .list .item:nth-child(2), .section01 .inner .list .item:nth-child(4) {
        margin-top: 0;
    }
    .section02 .inner .item_wrap {
        flex-direction: column;
        row-gap: 24px;
    }
    .section02 .inner .item_wrap .item {
        width: 100%;
    }
    .section02 .inner .item_wrap .item figure {
        height: 200px;
    }
    .section03 .inner .item_wrap {
        display: block;
        position: relative;
    }
    .section03 .inner .item_wrap figure {
        width: 100%;

    }
    .section03 .inner .item_wrap .item {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        color: #fff;
        /* backdrop-filter: blur(0.7px); */
    }
    .section03 .inner .item_wrap .item .text button {
        color: #fff;
        background-color: #F5B01E;
        border: none;
    }

    .mobile_nav {
        width: 55%;
    }
}
@media screen and (max-width: 600px) {
    .section03 .inner .item_wrap .item figure {
        display: none;
    }
    .section01 .inner .title h2, .section02 .inner .title h2, .section03 .inner .title h2,
    .section04 .inner .title h2 {
        font-size: 35px;
    }
    .section01 .inner .title p, .section02 .inner .title p, .section03 .inner .title p,
    .section04 .inner .title p {
        font-size: 16px;
    }
    .section01 .inner .list .item img {
        width: 60px;
    }
    .section01 .inner .list .item strong {
        font-size: 20px;
    }
    .section01 .inner .list .item span {
        font-size: 18px;
    }
    .section01 .inner .list .item p {
        font-size: 14px;
    }
    .section01 .inner .list .item {
        padding: 20px;
    }

}
@media screen and (max-width: 470px) {
    .section03 .inner .item_wrap .item .text strong{
        font-size: 20px;
    }
    .section03 .inner .item_wrap .item .text p {
        font-size: 14px;
        margin-bottom: 25px;
    }
    .section03 .inner .item_wrap .item .text button {
        padding: 12px 18px;
        font-size: 15px;
    }
    .footer .inner .left figure {
        width: 150px;
    }
    .footer .inner .left strong {
        font-size: 20px;
    }
    .footer .inner .left p > span{
        font-size: 14px;
    }
    .jquery_btn {
        width: 45px;
        right: 45px;
        bottom: 60px;
    }
    .mobile_nav {
        width: 70%;
    }
    .mobile_nav .gnb li > .depth01 {
        font-size: 16px;
    }
    .mobile_nav .gnb li > .depth02 li {
        font-size: 14px;
    }
}
@media screen and (max-width: 390px) {
    .header {
        height: 70px;
    }
    .header .inner .logo img {
        width: 100px;
    }
    .Swiper01 .swiper-slide .text h4 {
        font-size: 30px;
    }
    .Swiper01 .swiper-slide .text p {
        font-size: 16px;
        margin-top: 20px;
    }
    .section02 .inner .item_wrap .item figure {
        height: 140px;
    }
    .mobile_nav .gnb li > .depth02 li {
        padding: 8px;
    }
}
@media screen and (max-width: 350px) {
    .section03 .inner .item_wrap .item .text p {
        display: none;
    }
    .section03 .inner .item_wrap .item .text {
        display: flex;
        flex-direction: column;
    }
}